{% load i18n %}

<!-- SUCCESS ENROLL MODAL -->
<div class="modal fade" id="modal-subscribe-success" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Falta pouco para confirmar sua inscrição!</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                          Se você já realizou o pagamento, não se preocupe em poucos instantes o seu acesso será liberado.
                          Assim que seu pagamento for aprovado, nós liberaremos o seu acesso.
                        </p>
                        <p>
                          Caso esteja com problemas para finalizar a inscrição, envie um email para <em>ajudariw@gmail.com</em>
                        </p>
                        <p>
                          Desejamos um ótimo curso!
                        </p>
                    </div>
                </div>
                <!-- NEEDS FIX
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12">
                        <p>O número da sua inscrição é</p>
                        <p>{{ course.registration_number }}</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- END SUCCESS ENROLL MODAL -->
